<div class="bootstrap-wrapper">
  <div class="container  mt">
    <div class="row ">
      <div class="col-md-6 offset-md-3">
        <div class="container text-center">
          <img src="img-fluid" style="width: 100px;" src="/assets/lock.png" alt="">
        </div>
        <h1 class="text-center">Forgot Password!!</h1>

        <form>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label> E-mail Address </mat-label>
            <input name="email" placeholder="E-Mail Address" #passwordResetEmail required required type="text" matInput>
          </mat-form-field>
          <div class="container text-center">
            <button type="submit" mat-raised-button color="primary" value="Reset Password"
              (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button><br><br>
            <span>Go back to?</span>&nbsp;<a mat-rasied-button routerLink="/login">Log-in</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>